/* Your CSS Code here. */
*{
	font-family: calibri;
}
table{
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}
table, th, td{
	border-color: black;
	border: 1px;
	border-style: solid;
}
td{
	text-align: right;
}
th{
	text-align: left;
}
#eg1{
	text-align: left;
}